/*#f00{
    height: 100px;
    width: 100%;
}

#f01{
    height: 100px;
    width: 100%;
}
#f02{
    height: 100px;
    width: 100%;
}
#f10{
    height: 100px;
    width: 100%;
}
#f11{
    height: 100px;
    width: 100%;
}
#f12{
    height: 100px;
    width: 100%;
}

#f20{
    height: 100px;
    width: 100%;
}
#f21{
    height: 100px;
    width: 100%;
}
#f22{
    height: 100px;
    width: 100%;
}*/
#col{
    width: 100%;
}